---
import { profile } from '../data/profile';

const year = new Date().getFullYear();
---

<footer class="site-footer">
	<div class="footer-inner">
		<p>
			© {year} {profile.name}. All rights reserved.
		</p>
	</div>
</footer>
